.common-card {
  background-image: url("/assets/img/cards/common.webp");
  background-size: contain;
}

.uncommon-card {
  background-image: url("/assets/img/cards/uncommon.webp");
  background-size: contain;
}

.rare-card {
  background-image: url("/assets/img/cards/rare.webp");
  background-size: contain;
}

.epic-card {
  background-image: url("/assets/img/cards/epic.webp");
  background-size: contain;
}

.legendary-card {
  background-image: url("/assets/img/cards/legendary.webp");
  background-size: contain;
}

.common-color {
  background-color: #bcc8f7;
}

.uncommon-color {
  background-color: #4cc441;
}

.rare-color {
  background-color: #4a87e8;
}

.epic-color {
  background-color: #a64ae8;
}

.legendary-color {
  background-color: #e69f1c;
}
