#chosen-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
  min-height: 50px;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #chosen-skills {
    width: 100%;
  }
}

.chosen-skills-text {
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
  color: #e0e0e1;
  white-space: pre-wrap;
}

.chosen-skill {
  border: 2px solid #303031;
  border-radius: 30px 5px 30px 30px;
  margin: 2px;
  width: min-content;
  position: relative;
}

.chosen-skill > img {
  display: block;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.chosen-skill-info {
  position: absolute;
  right: -1px;
  width: 0;
  height: 0;
  border-bottom: 17px solid transparent;
  border-right: 17px solid rgba(5, 5, 5, 0.4);
  font-size: 11px;
  color: #ddd;
  font-weight: bold;
  text-align: right;
  user-select: none;
}

.chosen-skill-info > span {
  position: absolute;
  right: -15px;
  cursor: default;
}

@media (pointer: fine) {
  .chosen-skill-info:hover {
    border-right-color: rgba(200, 200, 200, 0.8);
    color: #222;
  }
}
