#skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px 0;
  background: #585859;
  border-radius: 5px;
  border: 1px solid #303031;
  height: 265px;
  overflow-y: scroll;
}

.skill-list-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1px;
  border: 2px solid #303031;
  border-radius: 5px;
  width: 50px;
}

.skill-list-skill > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 40px;
  width: 40px;
}

.skill-list-skill-footer {
  background: rgba(20, 20, 21, 0.6);
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}

.skill-list-skill-primary-trait {
  margin: 3px 2px;
  height: 19px;
  width: 19px;
}

.skill-list-skill-secondary-trait {
  margin: 4px 3px;
  height: 17px;
  width: 17px;
}

.chosen-skill-list-skill {
  position: relative;
}

.chosen-skill-list-skill:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.5);
}
