@import './build-wrapper.css';
@import './build-links.css';
@import './chosen-skills.css';
@import './rarity.css';
@import './skill-and-filter-wrapper.css';
@import './skill-list.css';
@import './trait-details.css';
@import './traits.css';

body {
  font-family: "arial";
}

#wrapper {
  width: 95%;
  margin: 1em auto;
}

.hidden {
  display: none;
}
