.trait-details {
  background: rgb(245, 204, 100);
  border-radius: 5px;
  border: 1px solid #a87b08;
  padding: 5px;
  color: #332502;
  width: min-content;
  height: min-content;
}

.trait-details-visible {
  display: block;
  z-index: 1;
  position: fixed;
}

.trait-details-header {
  background: rgb(228, 185, 77);
  border-radius: 5px;
  border: 1px solid #a87b08;
  padding: 3px;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.trait-details-header > img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.trait-details-header > span {
  line-height: 1.5;
  cursor: default;
}

.trait-details-body {
  background: rgb(245, 204, 100);
  border-radius: 5px;
  border: 1px solid #a87b08;
  font-size: 0.7em;
  width: 17em;
  padding: 2px;
  cursor: default;
}

.trait-details-bp-row {
  margin-top: 1em;
  color: grey;
  cursor: default;
}

.trait-details-bp-row-active {
  color: green;
}
