#traits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
  max-height: 150px;
  overflow-x: auto;
}

.trait {
  display: flex;
  height: 30px;
  color: #f0f0f1;
}

.trait > span {
  line-height: 2;
  cursor: default;
}

.trait-inactive {
  color: #b0b0b1;
}

.trait-inactive > img {
  opacity: 0.5;
}

.trait > img {
  width: 26px;
  height: 26px;
  margin: 4px 4px 0 4px;
}

@media (pointer: fine) {
  .trait > img:hover {
    background: rgba(170, 170, 170, 0.8);
    box-shadow: 0 0 5px #ddd;
    border-radius: 100%;
  }
}
