.trait-details {
  background: rgb(245, 204, 100);
  border-radius: 5px;
  border: 1px solid #a87b08;
  padding: 5px;
  color: #332502;
  width: min-content;
  height: min-content;
  display: block;
  z-index: 2;
  position: fixed;
}

.trait-details-close {
  color: #cc3333;
  font-weight: 300;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.1);
  padding: 0 3px;
  cursor: default;
  position: absolute;
  top: 12px;
  right: 12px;
  user-select: none;
}

@media (pointer: fine) {
  .trait-details-close:hover {
    background: rgba(50, 50, 50, 0.3);
  }
}

.trait-details-header {
  background: rgb(228, 185, 77);
  border-radius: 5px;
  border: 1px solid #a87b08;
  padding: 3px;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.trait-details-header > img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.trait-details-header > span {
  line-height: 1.5;
  cursor: default;
}

.trait-details-body {
  background: rgb(245, 204, 100);
  border-radius: 5px;
  border: 1px solid #a87b08;
  font-size: 0.7em;
  width: 17em;
  padding: 2px;
  cursor: default;
}

.trait-details-bp-row {
  margin-top: 1em;
  color: grey;
  cursor: default;
}

.trait-details-bp-row-active {
  color: green;
}
